*~
*.1
*.lo
*.la
*.o
*.a

.deps
.dirstamp
.libs
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache/
/boot-analysis/boot-analysis
/boot-benchmark/boot-benchmark
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/snippet/
/build-aux/test-driver
/build-aux/ylwrap
/config.h
/config.h.in
/config.log
/configure
/config.status
/libtool
/m4/
/podwrapper.pl
/qemu-boot/qemu-boot
/qemu-speed-test/qemu-speed-test
/stamp-h1
